/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
 
} */

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #5dafb8;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  height: 50vh;
  border-radius: 13px;
  box-shadow: 20px 40px 33px rgba(0,0,0,0.3);
  padding: 2rem;
  width: 35vw;
  background-color:  #6cc2ce;

}
.canvas-container {
  /* width: 1000px;
  height: 1000px;
  background:white;
  border-radius: 0px;
  margin-bottom:20px; */

  /* position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  width: 1000px; */
}


.colors {
display:flex;
flex-direction:row;
}

.colors div {padding:8px;}