.page {
    position: absolute;
	/* top: 0;
	bottom: 0; */
	width: 100%;
	/* max-width: 500px; */
    padding: 10px 30px;

    top: 50%;
	left: 80%;
	transform: translate(-80%, -50%);

    max-width: 400px;
    max-height: 700px;
    /* background-color: #F7F7F7; */
    background-color: white;

	overflow: hidden;
    display: flex;
    flex-direction: column;
}

.titleWrap {
    /* margin-top: 50px; */
    margin: 10px 0 30px 0;
    font-size: 26px;
	font-weight: bold;
	color: #262626;
    text-align: center;
}

.contentWrap {
    margin: 26px 0;
    flex: 1;
}

.inputTitle {
    margin: 10px 0;
    font-size: 12px;
	font-weight: 600;
	color: #262626;
}

.inputWrap {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid #c4c4c4;
}
.inputWrap:focus-within {
    border: 1px solid #9e30f4;
}

.inputWrap>input::placeholder {
    color: #9e9e9e;
}

.input {
    width: 100%;
    outline: none;
	border: none;
    height: 17px;
    font-size: 14px;
	font-weight: 400;
}

.input::placeholder {
    color: #dadadaaf;
}

.bottomButton {
    width: 100%;
	height: 48px;
    border: none;
    font-weight: bold;
    border-radius: 64px;
    background-color: #9e30f4;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
}

/* .bottomButton:disabled {
    background-color: #dadada;
    color: white;
} */

.errorMessageWrap {
    margin-bottom: 20px;
    color: #ef0000;
    font-size: 12px;
}